<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.1, maximum-scale=1">
		{% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap -->
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"-->
        <link rel="stylesheet" href="/static/css/zabo.css">
        <link rel="stylesheet" href="/static/css/vhmiddle.css">
		{% block css %}{% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
			<div id="head_container">
				<div id="head_bar">
					<div id="home">
						<a href="/">
							<span style="color: #F0795B">ZABO</span><span style="color: #FDCCBF"> PROJECT</span>
						</a>
					</div>
					<div class="menu menu_left">
						<a href="/category/">
							<span>게시판 둘러보기</span>
						</a>
					</div>
					<!--div class="menu menu_left">
						<a href="#">
							<span>과거의 흔적</span>
						</a>
					</div-->
					<div class="menu menu_left">
						<a id="create_article" href="#">
							<span>자보 붙이기</span>
						</a>
					</div>
					<div class="menu menu_right" id="profile_container">
						<div class="profile">
							{% if not user.is_authenticated %}
							<a id="login_button" href="#">
								<span>로그인</span>
							</a>
							{% else %}
							<a href="#">
								<span>{{ user.last_name }} {{ user.first_name }}</span>
							</a>
							{% endif %}
						</div>
						<div class="profile_img_container">
							<div class="profile_img">
								<div id="user_profile_image" class="profile-image vhmiddle vhmiddle-update" data-width="40" data-height="40">
									{% if user.is_authenticated %}
									<img src="{{ user.profile.profile_image.url }}"></img>
									{% else %}
									<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="0" height="0" alt="" />
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            {% block content %}
            {% endblock %}
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.color.js"></script>
		<script src="{{ STATIC_URL }}js/notify-combined.js"></script>
		<script src="{{ STATIC_URL }}js/base.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.simplemodal.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.vhmiddle.js"></script>
		<script src="{{ STATIC_URL }}js/layout.js"></script>
		{% if not user.is_authenticated %}
		<script>
		$(document).ready(function(){
		    $("a#login_button").click(function(e){
				e.preventDefault();
				ZB.login();
				});
			});
		</script>
		{% endif %}
		{% block aftercontent %}
		{% endblock %}
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script-->
    </body>
</html>
