{% extends "layout.html" %}
{% load thumbnail %}

{% block meta %}
        <meta name="twitter:card" content="photo" />
        <meta name="twitter:site" content="@zabo.kaist" />
        <!-- Twitter will not create a photo card unless the twitter:image is of a minimum size of 280px wide by 150px tall. Images will not be cropped unless they have an exceptional aspect ratio. Images must be less than 1MB in size. -->
		<meta property="og:title" content="{{ article.title }}" />
		<meta property="og:site_name" content="SPARCS Zabo Project" /> 
		<meta property="og:description" content="{{ article.subtitle }}" />
		<meta property="og:url" content="http://{{ site.domain }}{{ request.get_full_path }}">
		<meta property="og:image" content="http://{{ site.domain }}{{ article.image.url }}" />
        <meta property="og:type" content="article" /> <!-- article? website? -->
{% endblock %}

{% block css %}
		<link rel="stylesheet" href="/static/css/article.css">
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
		<div id="article_head_container">
			{% if article.subtitle|length > 0 %}
				<div id="article_title">{{ article.title }}</div>
				<div id="article_subtitle">{{ article.subtitle }}</div>
			{% else %}
				<div id="article_title" class="nosubtitle">{{ article.title }}</div>
			{% endif %}
		</div>
		<div id="article_body_container">
			<div id="article_main">
				<div id="article_image">
					{% thumbnail article.image "600" as im %}
					<img src={{ im.url }}></img>
					{% endthumbnail %}
				</div>
				<div id="article_content">
					{{ article.content|safe }}
				</div>
				<div id="qanda">
					<div id="qanda_container">
						<div id="qanda_head_container">댓글</div>
						<div class="question-write">
							<div class="question-profile-image-container vhmiddle profile-image vhmiddle-update" data-width="60" data-height="60">
								<img src="{{ user.profile.profile_image.url }}"></img>
							</div>
							<div class="question-box-container">
								<div class="question-textbox">
									<div class="arrow-left"></div>
									<textarea id="question_textbox" class="question-box" placeholder="댓글을 입력하세요"></textarea>
								</div>
								<div>
									<button id="add_question_button" class="question-button stress">댓글달기</button>
									<span id="add_question_notice"></span>
								</div>
							</div>
						</div>
						<div id="question_list">
							{% for q in question %}
							<div class="question" question-id="{{ q.id }}">
								<div class="question-profile-image-container vhmiddle" data-width="60" data-height="60">
									<img src="{{ q.writer.profile.profile_image.url}}">
								</div>
								<div class="question-content-container">
									<div class="question-meta">
										<span class="question-profile-name">{{ q.writer.last_name }}{{ q.writer.first_name }}</span>
										<span class="question-time">{{ q.created_date|date:"n월 j일 G시 i분" }}</span>
										{% if request.user == q.writer and not q.is_deleted %}
										<span class="question-delete"></span>
										{% endif %}
									</div>
									<div class="question-content-wrapper">
										<div class="question-content">
											{% if q.is_deleted %}
											<span class="deleted">-- deleted --</span>
											{% else %}
											{{ q.content }}
											{% endif %}
										</div>
										{% if user.is_authenticated %}
										<div class="answer-popup">
											<button class="answer-popup-button">댓글달기</button>
										</div>
										{% endif %}
									</div>
									{% for a in q.answer_set.all %}
									<div class="answer" answer-id="{{ a.id }}">
										<div class="answer-profile-image-container vhmiddle">
											<img src="{{ a.writer.profile.profile_image.url }}" class="answer-profile-image"></img>
										</div>
										<div class="answer-content-container">
											<div class="answer-meta">
												<span class="answer-profile-name">{{ a.writer.last_name }}{{ a.writer.first_name }}</span>
												<span class="answer-time">{{ a.created_date|date:"n월 j일 G시 i분" }}</span>
												{% if request.user == a.writer and not a.is_deleted %}
												<span class="answer-delete"></span>
												{% endif %}
											</div>
											{% if a.is_deleted %}
											<span class="deleted">-- deleted --</span>
											{% else %}
											<span class="answer-content">{{ a.content }}</span>
											{% endif %}
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>
			<div id="article_sub">
				<div id="article_sub_content">
					<div id="timeslot_container" class="sub-container">
						<div class="sub-head">일시</div>
						<div class="siub-content">
							<table class="sub-content">
								<tbody>
								{% for t in article.timeslot.all %}
									<tr>
                                                                            {% if t.is_am_start %}
                                                                            <td class="timeslot-time" style="padding-right: 5px">{{ t.start_time|date:"n월 j일"}} 오전{{ t.start_time|date:" G시 i분" }}</td>
                                                                            {% else %}
                                                                            <td class="timeslot-time" style="padding-right: 5px">{{ t.start_time|date:"n월 j일"}} 오후{{ t.start_time|date:" G시 i분" }}</td>
                                                                            {% endif %}
                                                                            <!---------------------------------------------------------------------------->
                                                                            {% if t.exist_end %}
                                                                            {% if t.is_am_end %}
                                                                            <td class="timeslot-time" style="padding-right: 5px">~ {{ t.end_time|date:"n월 j일"}} 오전{{ t.end_time|date:" G시 i분" }}</td>
                                                                            {% else %}
                                                                            <td class="timeslot-time" style="padding-right: 5px">~ {{ t.end_time|date:"n월 j일"}} 오후{{ t.end_time|date:" G시 i분" }}</td>
                                                                            {% endif %}
                                                                            {% else %}
                                                                            {% if t.is_am_end %}
                                                                            <td class="timeslot-time" style="padding-right: 5px; visibility: hidden">~ {{ t.end_time|date:"n월 j일"}} 오전{{ t.end_time|date:" G시 i분" }}</td>
                                                                            {% else %}
                                                                            <td class="timeslot-time" style="padding-right: 5px; visibility: hidden">~ {{ t.end_time|date:"n월 j일"}} 오후{{ t.end_time|date:" G시 i분" }}</td>
                                                                            {% endif %}
                                                                            {% endif %}

                                                                            {% ifequal t.label '' %}
                                                                            <td><span class="timeslot-label"></span></td>
                                                                            {% else %}
                                                                            {% if t.is_main %}
                                                                            <td><button class="timeslot-label is-main">{{ t.label }}</button></td>
                                                                            {% else %}
                                                                            <td><button class="timeslot-label">{{ t.label }}</button></td>
                                                                            {% endif %}
                                                                            {% endifequal %}
                                                                        </tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					{% if article.location|length > 0 %}
					<div id="location_container" class="sub-container">
						<div class="sub-head">장소</div>
						<div class="sub-content"><span>{{ article.location }}</span></div>
					</div>
					{% endif %}
					<div id="participant_container" class="sub-container">
						<div class="sub-head">참여자</div>
						<div class="sub-content">
							<span id="participant_count">{{ participant|length }}</span><span>명</span>
						</div>
					</div>
					<div id="host_container" class="sub-container">
						<div class="sub-head">주최자</div>
						<div id="host_head_container" class="sub-content">
							<div id="host_image_container" class="vhmiddle" data-width="40" data-height="40">
								<img id="host_image" src="{{ article.host_image.url }}"></img>
							</div>
							<div id="host_name">{{ article.host_name }}</div>
						</div>
						<div id="host_content" class="sub-content">{{ article.host_description }}</div>
					</div>
					{% if article.announcement|length > 0 %}
					<div id="notice_container" class="sub-container">
						<div class="sub-head">공지사항</div>
						<div id="notice_content" class="sub-content"><span>{{ article.announcement }}</span></div>
					</div>
					{% endif %}
					{% if is_owner %}
					<div id="owner_button_container">
						<button id="article_edit_button" class="button-large stress">수정</button>
						<button id="article_delete_button" class="button-large">삭제</button>
					</div>
					{% endif %}
				</div>
				<div id="article_sub_share">
					<ul>
						{% if is_participating %}
							<li id="participate" data-action='unparticipate'>
								<div class="share"><span>취소</span></div>
							</li>
						{% else %}
							<li id="participate" data-action='participate'>
								<div class="share stress"><span>참여</span></div>
							</li>
						{% endif %}
						<li id="facebook"><div class="share"></div></li>
						<li id="twitter"><div class="share"></div></li>
					</ul>
					<!-- http://graph.facebook.com/?id=http://www.naver.com -->
					<!-- http://urls.api.twitter.com/1/urls/count.json?url=http://www.naver.com -->
				</div>

				<div id="article_sub_participants">
					<ul id="participant_list">
						{% for p in participant reversed %}
						<li user-id="{{ p.id }}">
							<div class="participant-profile-image vhmiddle" data-width="48" data-height="48">
								<img src="{{ p.profile.profile_image.url }}"></img>
							</div>
							<span class="participant-profile-text">
								{{ p.last_name }}{{ p.first_name}} 님이 참여합니다.
							</span>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
        <div id="fb-root"></div>
		<div id="article_image_large" style="display:none; width:inherit; margin: 50px 0px 50px 0px; overflow:hidden;">
			{% thumbnail article.image "600" as im %}
			<img id="article_image_large_img" style="width:inherit" src="{{ im.url }}" data-large-url="{{ article.image.url }}"></img>
			{% endthumbnail %}
		</div>
{% endblock %}

{% block aftercontent %}
<script>
	var articleID = {{ article.id }};
	var user_prof_img_src = '{{ user.profile.profile_image.url }}';
	var user_name = '{{ user.last_name}}{{ user.first_name }}'
</script>
		<script src="{{ STATIC_URL }}js/article-view.js"></script>
		<script>
		$(document).ready(function(){
			$("li#facebook").click(function(e){
					e.preventDefault();
					FB.ui({
						method: 'share',
						href: '{{ request.build_absolute_uri }}',
						}, function(response){}
					)
				});

			$("li#twitter").click(function(e){
					e.preventDefault();
					popupwindow('https://twitter.com/intent/tweet?text={{ article.title|urlencode }}-{{ article.subtitle }}&url={{ request.build_absolute_uri }}', 'Tweet Article', 600, 260);
				});
		});

        function popupwindow(url, title, w, h) {
            wLeft = window.screenLeft ? window.screenLeft : window.screenX;
            wTop = window.screenTop ? window.screenTop : window.screenY;

            var left = wLeft + (window.innerWidth / 2) - (w / 2);
            var top = wTop + (window.innerHeight / 2) - (h / 2);
            var new_w = window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            new_w.focus();
        }
		</script>
{% endblock %}
