{% extends "layout.html" %}

{% block meta %}

{% endblock %}

{% block css %}
		<link rel="stylesheet" href="/static/css/article.css">
		<link rel="stylesheet" href="/static/css/article_edit.css">
{% endblock %}

{% block title %}수정 - {{ article.title }}{% endblock %}

{% block content %}
		<div id="article_head_container">
			<div id="article_title">
				<input class="editable editable-input" id="article_title_input" type="text" value="{{ article.title }}">
				</input>
			</div>
			<div id="article_subtitle">
				<input class="editable editable-input" id="article_subtitle_input" type="text" value="{{ article.subtitle }}">
				</input>
			</div>
		</div>
		<div id="article_body_container">
			<div id="article_main">
				<div id="article_image">
					{% if article.image %}
					<div class="editable-img" onclick="getElementById('article_image_input').click();" style="border: 0px">
						<img src={{ article.image.url }}></img>
					</div>
					{% else %}
					<div id="article_image_new" class="editable-img"
						onclick="getElementById('article_image_input').click();">
						<div>
							<div class="cross-large"></div>
							<div style="margin-top: 15px; font-size: 23px; font-family: 'Nanum Barun Gothic';">
								<span>메인 포스터 업로드</span>
							</div>
						</div>
					</div>
					{% endif %}
					<input id="article_image_input" name="image" type="file"
						style="opacity:0; position: absolute; top: 0px; left: 0px; width: 0px; height: 0px;">
				</div>
				<div id="article_content" class="editable-textarea" contenteditable="true"
						placeholder="내용을 입력하세요">{{ article.content|safe }}</div>
				<div id="media_tool_container">
					<div id="media_tool" data-role="editor-toolbar">
						<div class="m-tool">
							<input id="editor_image_input" type="file" data-edit="insertImage"
								style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 0px; height: 0px;">
							<div onclick="getElementById('editor_image_input').click();" id="insert_image" class="m-tool-button stress"></div>
							<span class="m-tool-label">사진</span>
						</div>
						<div class="m-tool">
							<input id="editor_youtube_input" type="text" data-edit="insertYoutube"
								style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 0px; height: 0px;">
							<div id="insert_video" class="m-tool-button stress"></div>
							<div id="insert_video_form" style="display: none;
								background-color: #f4e5e2; position: absolute; border-radius: 5px;
								font-family: 'Nanum Gothic'; font-size: 15px; color: #5d5454;
								padding: 10px 10px 10px 10px; width: 410px;">
								<span>Youtube Link : </span>
								<input id="video_url_input" type="text" style="width:250px"></input>
								<button id="video_add_button" class="stress"
									style="padding: 5px 6px; border-radius: 5px; margin-left: 8px;">추가</button>
							</div>
							<span class="m-tool-label">동영상</span>
						</div>
						<div class="m-tool">
							<div id="create_link" class="m-tool-button stress" data-edit="createLink"></div>
							<span class="m-tool-label">하이퍼링크</span>
						</div>
					</div>
				</div>
			</div>
			<div id="article_sub">
				<div id="article_sub_content">
					<div id="category_container" class="sub-container">
						<div class="sub-head">카테고리</div>
						<div class="sub-content">
							<ul id="category_list">
								{% if article.category == "recruit" %}
									<li class="toggled" data-value="recruit">리쿠르팅</li>
								{% else %}
									<li data-value="recruit">리쿠르팅</li>
								{% endif %}
								{% if article.category == "performance" %}
									<li class="toggled" data-value="performance">공연</li>
								{% else %}
									<li data-value="performance">공연</li>
								{% endif %}
								{% if article.category == "competition" %}
									<li class="toggled" data-value="competition">대회</li>
								{% else %}
									<li data-value="competition">대회</li>
								{% endif %}
								<li class="empty"></li>
								{% if article.category == "briefing" %}
									<li class="toggled" data-value="briefing">설명회</li>
								{% else %}
									<li data-value="briefing">설명회</li>
								{% endif %}
								{% if article.category == "lecture" %}
									<li class="toggled" data-value="lecture">강연</li>
								{% else %}
									<li data-value="lecture">강연</li>
								{% endif %}
								{% if article.category == "display" %}
									<li class="toggled" data-value="display">전시</li>
								{% else %}
									<li data-value="display">전시</li>
								{% endif %}
								{% if article.category == "etc" %}
									<li class="toggled" data-value="etc">기타</li>
								{% else %}
									<li data-value="etc">기타</li>
								{% endif %}
							</ul>
						</div>
					</div>
					<div id="timeslot_container" class="sub-container">
						<div class="sub-head">일시</div>
						<div class="sub-content">
							<table id="timeslot_table">
								<tbody>
									{% for t in article.timeslot.all %}
										<tr timeslot-id="{{ t.id }}" mode="old">
											<td class="timeslot-remove">
												<div class="timeslot-remove-icon"></div>
											</td>
                                            {% if t.is_am_start %}
                                            <td class="timeslot-time" style="padding-right: 5px">{{ t.start_time|date:"n월 j일"}} 오전{{ t.start_time|date:" G시 i분" }}</td>
                                            {% else %}
                                            <td class="timeslot-time" style="padding-right: 5px">{{ t.start_time|date:"n월 j일"}} 오후{{ t.start_time|date:" G시 i분" }}</td>
                                            {% endif %}
                                            {% if t.exist_end %}
                                                {% if t.is_am_end %}
                                                    <td class="timeslot-time" style="padding-right: 5px">~ {{ t.end_time|date:"n월 j일"}} 오전{{ t.end_time|date:" G시 i분" }}</td>
                                                {% else %}
                                                    <td class="timeslot-time" style="padding-right: 5px">~ {{ t.end_time|date:"n월 j일"}} 오후{{ t.end_time|date:" G시 i분" }}</td>
                                                {% endif %}
                                            {% else %}
                                                {% if t.is_am_end %}
                                                    <td class="timeslot-time" style="padding-right: 5px; visibility: hidden">~ {{ t.end_time|date:"n월 j일"}} 오전{{ t.end_time|date:" G시 i분" }}</td>
                                                {% else %}
                                                    <td class="timeslot-time" style="padding-right: 5px; visibility: hidden">~ {{ t.end_time|date:"n월 j일"}} 오후{{ t.end_time|date:" G시 i분" }}</td>
                                                {% endif %}
                                            {% endif %}
											{% ifequal t.label '' %}
												<td><span class="timeslot-label"></span></td>
											{% else %}
												{% if t.is_main %}
												<td><button class="timeslot-label is-main">{{ t.label }}</button></td>
												{% else %}
												<td><button class="timeslot-label">{{ t.label }}</button></td>
												{% endif %}
											{% endifequal %}

											<td class="timeslot-is-main">
												<div class="squaredTwo">
													{% if forloop.first %}
													<span class="timeslot-main-span">대표 일정</span>
													{% endif %}
													{% if t.is_main %}
													<input type="checkbox" id="timeslot{{ t.id }}-is-main" checked></input>
													{% else %}
													<input type="checkbox" id="timeslot{{ t.id }}-is-main"></input>
													{% endif %}
													<label for="timeslot{{ t.id }}-is-main"></label>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div style="height: 31px; margin-top: 10px;">
								<div id="timeslot_add_container" class="stress">
									<img style="vertical-align: middle; padding-left: 5px"
										src="{{ STATIC_URL }}/css/images/cross_red.png"></img>
									<span style="padding-right: 5px; color: #ffffff; font-size: 13px;
										font-family: 'Nanum Gothic'; position: relative; top: -2px;">
										일시추가
									</span>
								</div>
							</div>
							<div id="timeslot_add_form" style="display: none;
								background-color: #f4e5e2; position: absolute; border-radius: 5px;
								font-family: 'Nanum Gothic'; font-size: 15px; color: #5d5454;
								padding: 10px 10px 10px 20px; width: 620px;">
                                                                <div id="timeslot_add_checkbox_container" style="padding-bottom: 10px">
                                                                    <span>태그 :</span>
                                                                    <input id="ts_label" type="text" style="width: 108px;" placeholder="ex) 지원마감"></input>
                                                                    <span>&nbsp;&nbsp;&nbsp;기간으로 표시 :</span>
                                                                    <div class="squaredTwo squaredTwoAdd timeslot_add_checkbox" style="display: inline-block; top: 5px;" data="period">
                                                                        <input type="checkbox" checked></input>
                                                                        <label></label>
                                                                    </div>
                                                                    <span>&nbsp;&nbsp;시/분 표시:</span>
                                                                    <div class="squaredTwo squaredTwoAdd timeslot_add_checkbox" style="display: inline-block; top: 5px" data="time">
                                                                        <input type="checkbox" checked></input>
                                                                        <label></label>
                                                                    </div>
                                                                    <span>&nbsp;&nbsp;대표 일정 :</span>
                                                                    <div class="squaredTwo squaredTwoAdd timeslot_add_checkbox" style="display: inline-block; top: 5px" data="represent">
                                                                        <input type="checkbox" checked></input>
                                                                        <label></label>
                                                                    </div>
                                                                    <button id="timeslot_add_button" class="stress"
                                                                            style="padding: 5px 6px; border-radius: 5px; margin-left: 15px;
                                                                            width: 50px; position: relative;  top:-2px;">추가</button>
                                                                </div>
                                                                <div id="timeslot_add_start" style="padding-bottom: 10px">
                                                                    <span>시작 :</span>
                                                                    <input id="ts_year" type="text" style="width: 81px;"></input>
                                                                    <span>&nbsp;년</span>
                                                                    <input id="ts_month" type="text" style="width: 43px;"></input>
                                                                    <span>&nbsp;월</span>
                                                                    <input id="ts_date" type="text" style="width: 43px;"></input>
                                                                    <span>&nbsp;일</span>
                                                                    <div class="timeslot_add_minutesecond">
                                                                        <div class="timeslot_add_ampm am_container" data="am">
                                                                            <input type="checkbox" checked></input>
                                                                            <label></label>
                                                                        </div>
                                                                        <div class="timeslot_add_ampm pm_container" data="pm">
                                                                            <input type="checkbox"></input>
                                                                            <label></label>
                                                                        </div>
                                                                        <input id="ts_hour" type="text" style="width: 43px; margin-left: 15px;"></input>
                                                                        <span>&nbsp;시</span>
                                                                        <input id="ts_minute" type="text" style="width: 43px; margin-left: 15px;"></input>
                                                                        <span>&nbsp;분</span>
                                                                    </div>
                                                                </div>
                                                                <div id="timeslot_add_end">
                                                                    <span>종료 :</span>
                                                                    <input id="te_year" type="text" style="width: 81px;"></input>
                                                                    <span>&nbsp;년</span>
                                                                    <input id="te_month" type="text" style="width: 43px;"></input>
                                                                    <span>&nbsp;월</span>
                                                                    <input id="te_date" type="text" style="width: 43px;"></input>
                                                                    <span>&nbsp;일</span>
                                                                    <div class="timeslot_add_minutesecond">
                                                                        <div class="timeslot_add_ampm am_container" data="am">
                                                                            <input type="checkbox" checked></input>
                                                                            <label></label>
                                                                        </div>
                                                                        <div class="timeslot_add_ampm pm_container" data="pm">
                                                                            <input type="checkbox"></input>
                                                                            <label></label>
                                                                        </div>
                                                                        <input id="te_hour" type="text" style="width: 43px; margin-left: 15px;"></input>
                                                                        <span>&nbsp;시</span>
                                                                        <input id="te_minute" type="text" style="width: 43px; margin-left: 15px;"></input>
                                                                        <span>&nbsp;분</span>
                                                                    </div>
                                                                </div>
							</div>
						</div>
					</div>
					<div id="location_container" class="sub-container">
						<div class="sub-head">장소</div>
						<div class="sub-content">
							<input class="editable editable-input" id="location_input"
								type="text" value="{{ article.location }}">
							</input>
						</div>
					</div>
					<div id="host_container" class="sub-container">
						<div class="sub-head">주최자</div>
						<div id="host_head_container" class="sub-content">
							<div id="host_image_container" class="vhmiddle" data-width="40" data-height="40">
								{% if article.host_image %}
								<img id="host_image" src="{{ article.host_image.url }}"
									onclick="getElementById('host_image_input').click();"></img>
								{% else %}
								<img id="host_image" src="{{ user.profile.profile_image.url }}"
									onclick="getElementById('host_image_input').click();"></img>
								{% endif %}
								<input id="host_image_input" name="host_image" type="file"
									style="opacity:0; position: absolute; top: 0px; left: 0px; width: 0px; height: 0px;">
							</div>
							<input id="host_name_input" class="editable editable-input"
									type="text" value="{{ article.host_name }}">
							</input>
						</div>
						<div id="host_content" class="sub-content"><textarea class="editable editable-textarea" id="host_content_textarea">{{ article.host_description }}</textarea></div>
					</div>
					<div id="notice_container" class="sub-container">
						<div class="sub-head">공지사항</div>
						<div id="notice_content" class="sub-content"><textarea class="editable editable-textarea" id="notice_content_textarea">{{ article.announcement }}</textarea></div>
					</div>
					<div id="edit_button_container">
						<button id="edit_button" class="button-large stress">업로드</button>
						<button id="cancel_button" class="button-large">취소</button>
					</div>
					<div id="update_news" class="sub_container">
						<span id="update_time">{{ article.updated_date|date:"n월 j일 G시 i분 s초" }}</span>
						{% if article.is_published %}
						<span>에 저장되었습니다.</span>
						{% else %}
						<span>에 임시 저장되었습니다.</span>
						{% endif %}
					</div>
					<div id="error_msg" class="sub_container">
					</div>
				</div>
				{% if article.is_published %}
				<div id="owner_container">
					<ul id="owner_list">
						{% for o in article.owner.all %}
						<li ownerid="{{ o.id }}">
							<span class="timeslot-remove-icon"></span>
							<div class="owner-profile-image vhmiddle" data-width="48" data-height="48">
								<img src="{{ o.profile.profile_image.url }}"></img>
							</div>
							<span class="owner-profile-text">
								{{ o.last_name }}{{ o.first_name}} 님이 관리합니다.
							</span>
						</li>
						{% endfor %}
					</ul>
					<div style="height: 31px;">
						<div id="owner_add_container" class="stress">
							<img style="vertical-align: middle; padding-left: 5px"
								src="{{ STATIC_URL }}/css/images/cross_red.png"></img>
							<span style="padding-right: 5px; color: #ffffff; font-size: 13px;
								font-family: 'Nanum Gothic'; position: relative; top: -2px;">
								관리자추가
							</span>
						</div>
						<div id="owner_add_form" style="display: none;
							background-color: #f4e5e2; position: absolute; border-radius: 5px;
							font-family: 'Nanum Gothic'; font-size: 15px; color: #5d5454;
							padding: 10px 10px 10px 10px; width: 330px;">
							<div>
								<span style="margin-left: 10px;">이메일 혹은 이름</span>
								<input id="owner_query" type="text"></input>
								<button id="owner_search_button" class="stress"
									style="padding: 5px 6px; border-radius: 5px; float: right;">검색</button>
							</div>
							<div>
								<ul id="owner_selection_list"></ul>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
{% endblock %}

{% block aftercontent %}
<script>
	var articleID = {{ article.id }};
	var is_published = {% if article.is_published %}true{% else %}false{% endif %};
</script>
<script src="{{ STATIC_URL }}js/jquery.autosize.input.js"></script>
<script src="{{ STATIC_URL }}js/jquery.hotkeys.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-wysiwyg.js"></script>
<script src="{{ STATIC_URL }}js/jquery.editable.js"></script>
<script src="{{ STATIC_URL }}js/jquery.data-wrapper.js"></script>
<script src="{{ STATIC_URL }}js/article-edit.js"></script>
<script>
	$(document).ready(function(){
		document.execCommand('defaultParagraphSeparator', false, 'p');
		var editor = $("#article_content");
		editor.on('blur', function(e) {
			var _h = $(this).html();
			if (_h == "<p></p>" || _h == "<p><br></p>")
			{
				$(this).empty();
			}
		})
		editor.wysiwyg();

	});

	$('table#timeslot_table td.timeslot-is-main input').click(function () {
		var $this = $(this);
		var $button = $this.parent().parent().parent().find('button.timeslot-label');
		if ($this.prop('checked')) {
			$button.addClass('is-main');
		} else {
			$button.removeClass('is-main');
		}
	});

	$(window).load(function () {
		$(".editable-input").autosizeInput({ space : 3 });
	});
</script>
{% endblock %}
