{% extends "layout.html" %}

{% block meta %}
{% endblock %}

{% block css %}
		<link rel="stylesheet" href="/static/css/category.css">
{% endblock %}

{% block title %}ZABO PROJECT{% endblock %}

{% block content %}
		<div id="category_container">	
			<ul id="category_list">
				<li><button value='recruit'>리쿠르팅</button></li>
				<li><button value='performance'>공연</button></li>
				<li><button value='competition'>대회</button></li>
				<li><button value='display'>전시</button></li>
				<li><button value='briefing'>설명회</button></li>
				<li><button value='lecture'>강연</button></li>
				<li><button value='event'>행사</button></li>
				<li><button value='all'>전체</button></li>
			</ul>
		</div>
		<div id="main_list_container">
			<div id="main_list_title">현재 진행 중인 행사 / 강연 자보</div>
			<ul id="main_list"></ul>
		</div>
        <div id="fb-root"></div>
{% endblock %}

{% block aftercontent %}
<script src="{{ STATIC_URL }}js/category.js"></script>
{% endblock %}
