{% extends "layout.html" %}
{% load thumbnail %}

{% block meta %}
{% endblock %}

{% block css %}
		<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block title %}ZABO PROJECT{% endblock %}

{% block content %}
		<div id="main_head_container">	
		</div>
		<div id="main_list_container">
			<div id="main_list_title">Upcoming Events</div>
			<ol id="main_list">
				{% for article in articles|dictsort:"date" %}
				<li class="event_elem">
					<div class="event_container" article-id="{{ article.id }}" data-date="{{ article.date|date:"Y/n/j" }}">
						<div class="poster vhmiddle">
							<a href="/article/{{ article.id }}">
								<img src="{{ article.poster.main_thumb }}" />
							</a>
						</div>
						<div class="event_info">
							<div class="info">
								<div class="info_title">{{ article.category }}</div>
								<div class="info_content">{{ article.title }}</div>
							</div>
							<div class="info">
								<div class="info_title">일시</div>
								<div class="info_content">{{ article.date|date:"Y년 n월 j일" }}</div>
							</div>
							<div class="info">
								<div class="info_title">주최자</div>
								<div class="info_content">{{ article.host.name }}</div>
							</div>
						</div>
					</div>
					<div class="d_day"></div>
				</li>
				{% endfor %}
			</ol>
		</div>
        <div id="fb-root"></div>
{% endblock %}

{% block aftercontent %}
<script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}
