{% extends "manage/layout.html" %}
{% block content %}
<h1>Blocked Articles</h1>
<table class="table">
    <thead>
        <tr>
            <th>글쓴이</th>
            <th>제목</th>
            <th>글쓴날</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>coffee</td>
            <td>하하! 이 글은 똥이야 똥! 오줌발싸!!</td>
            <td>2015-01-20</td>
        </tr>
        <tr>
            <td>daedoo</td>
            <td>나는_머리가_크다</td>
            <td>2015-01-21</td>
        </tr>
    </tbody>
</table>
<h1>Blocked Users</h1>
{% endblock %}
