.cross-large
{
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    background-image: url('images/cross_large.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f0795b;
}

.editable
{
    font-family: 'Nanum Barun Gothic';
    border-width: 0px;
    outline: 0;
}

/*
 * editable input
 */

.editable-input
{
    text-align: center;
}

.editable-input::-ms-clear
{
    display: none;
}

/*
 * editable-img
 */

.editable-img
{
    border-image: url('images/dot_square.png') 12 12 round;
    border-image-width: 12px;
    text-align: center;
    color: #f0795b;
    cursor: pointer;
}

#article_image .editable-img img
{
    transition: all 0.5s;
}

#article_image .editable-img img:hover
{
    opacity: 0.8;
}

#article_image_new
{
    display: table-cell;
    vertical-align: middle;
    height: 380px;
    width: 594px;
}

/*
 * Specific CSS
 */

#timeslot_container table
{
    position: relative;
    border: 0px;
    left: -32px;
}

#timeslot_container table td.timeslot-remove
{
    min-width: 30px;
}

#timeslot_container table td.timeslot-remove img.timeslot-remove-icon
{
    vertical-align: middle;
    position: relative;
    top: -2px;
}

#timeslot_container table td.timeslot-is-main
{
    padding-left: 25px;
}

#timeslot_container table td span.timeslot-main-span
{
    font-size: 15px;
    position: relative;
    color: #5d5454;
    font-family: 'Nanum Gothic';
    top: -35px;
    left: -15px;
}

#article_title .editable-input
{
    padding: 0px;
    font-size: 49px;
    min-width: 360px;
    width: 360px;
    max-width: 90%;
    color: #5c514e;
}

#article_subtitle .editable-input
{
    padding: 0px;
    height: 24px;
    font-size: 21px;
    min-width: 245px;
    width: 245px;
    max-width: 90%;
    color: #6a6a6a;
}

/*
 * location
 */
#location_container .editable-input
{
    min-width: 300px;
    width: 300px;
    height: 40px;
    font-size: 25px;
    color: #443333;
    text-align: left;
    padding: 0px;
}

/*
 * host
 */

#host_head_container.sub-content
{
    white-space: nowrap;
}

#host_head_container .editable-input
{
    min-width: 250px;
    width: 250px;
    height: 40px;
    font-size: 25px;
    color: #443333;
    text-align: left;
    padding: 0px;
}

#host_image_container
{
    cursor: pointer;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

#host_image_container:hover
{
    opacity: 0.8;
}

#host_content .editable-textarea
{
    width: 300px;
    height: 80px;
    font-family: 'Nanum Gothic';
    font-size: 15px;
    color: #443333;
    resize: none;
    outline: none;
    overflow: auto;
    text-align: left;
    padding: 0px;
}

#notice_content .editable-textarea
{
    width: 300px;
    height: 80px;
    font-family: 'Nanum Gothic';
    font-size: 17px;
    color: #f0795b;
    resize: none;
    outline: none;
    overflow: auto;
    text-align: left;
    padding: 0px;
}

/*
 * Holder
 */

#article_content.editable-textarea p:first-child
{
    margin-top: 0px;
}

#article_content.editable-textarea
{
    min-height: 600px;
    max-height: 800px;
    width: 576px;
    margin-bottom: 10px;
    padding: 10px 10px 0px 10px;
    color: #5c514e;
    overflow: auto;
    font-size: 17px;
    font-family: 'Nanum Gothic';
    border: solid 2px #beb7b7;
    border-radius: 5px;
    outline: none;
}

#article_content.editable-textarea img
{
    max-width: 560px;
}

#article_content.editable-textarea iframe
{
    width: 560px;
    height: 341.2px;
}

[contentEditable=true]:empty:not(:focus):before
{
    content:attr(placeholder);
    font-size: 17px;
    font-family: 'Nanum Gothic';
    color: #5c514e;
}


#notice_container
{
    margin-bottom: 0px;
    border-bottom: 2px solid #f6f0ee;
}

#notice_content
{
    margin-bottom: 20px;
    color: #beb7b7 !important;
}

#edit_button_container
{
    margin: 20px 0px 20px 0px;
}

#edit_button
{
    float: right;
}

#media_tool_container
{
    margin-top : 10px;
    margin-bottom : 20px;
    font-family: 'Nanum Gothic';
    font-size: 17px;
    color: #f0795b;
}

#media_tool_container #media_tool
{
    float: right;
}

#media_tool_container #media_tool .m-tool
{
    float: left;
    margin-right: 15px;
    text-align: center;
}

#media_tool_container #media_tool .m-tool:last-child
{
    margin-right: 0px;
}

#media_tool_container #media_tool .m-tool div.m-tool-button
{
    margin-bottom: 5px;
}

#media_tool_container #media_tool .m-tool span.m-tool-label
{
    font-size: 15px;
}

#create_link
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f0795b;
    background-image: url('images/link_img.png');
    background-repeat: no-repeat;
    background-position: center;
}

#insert_image
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f0795b;
    background-image: url('images/picture_img.png');
    background-repeat: no-repeat;
    background-position: center;
}

#insert_video
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f0795b;
    background-image: url('images/video_img.png');
    background-repeat: no-repeat;
    background-position: center;
}

#edit_button
{
    width: 135px;
    height: 70px;
    cursor: pointer;
}

#cancel_button
{
    width: 135px;
    height: 70px;
    color: #f0795b;
    background-color: transparent;
    transition: all 0.5s;
    border: solid 2px transparent;
    cursor: pointer;
}

#cancel_button:hover
{
    color: #f15050;
    border-color: #f15050;
}

#update_news
{
    text-align: center;
    color: #beb7b7;
    font-size: 13px;
    font-family: 'Nanum Gothic';
    margin-bottom: 20px;
}

#error_msg
{
    text-align: left;
    border-radius: 5px;
    color: #f0795b;
    font-size: 13px;
    font-family: 'Nanum Gothic';
}

#category_list
{
    list-style: none;
    width: 300px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

#category_list li
{
    float: left;
    width: 63px;
    height: 22px;
    margin: 0px 10px 10px 0px;
    padding: 0;
    line-height: 24px;
    border: 1px solid #b7b3b3;
    border-radius: 3px;
    text-align: center;
    color: #9c8d8a;
    font-family: 'Nanum Barun Gothic';
    font-size: 12px;
    background-color: #fffbfa;
    cursor: pointer;
}

#category_list li.empty
{
    visibility: hidden;
}

#category_list li:hover, #category_list li.toggled
{
    color: #faf3f2;
    border-color: transparent;
    background-color: #f0795b;
}

#timeslot_add_container
{
    background-color: #f0795b;
    border-radius: 5px;
    float: left;
    cursor: pointer;
}

#timeslot_add_form input
{
    border: 0px;
    height: 23px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Nanum Gothic';
    color: #5d5454;
}

.timeslot-remove-icon
{
    background-image: url('images/delete_icon.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    float:left;
    position: relative;
    top : -1px;
}

#owner_list
{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;
    width: 320px;
    left: -20px;
}

#owner_list:after
{
    clear: both;
    content: " "; /* 1 */
    display: table; /* 2 */
}

#owner_list li
{
    height: 48px;
    margin-bottom: 16px;
    float: left;
    white-space: nowrap;
}

#owner_list li span.timeslot-remove-icon
{
    position: relative;
    left: -10px;
    top: 13px;
}

#owner_list li div.owner-profile-image
{
    border-radius: 50%;
    margin-right: 25px;
    float: inherit;
}

#owner_list li span.owner-profile-text
{
    font-family: 'Nanum Gothic';
    font-size: 17px;
    line-height: 48px;
    color: #696060;
}

#owner_add_container
{
    background-color: #f0795b;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Nanum Barun Gothic';
}

#owner_add_form input#owner_query
{
    border: 0px;
    padding-left: 5px;
    height: 23px;
    width: 130px;
    margin-left: 15px;
    border-radius: 5px;
    font-family: 'Nanum Gothic';
    color: #5d5454;
}

#owner_selection_list 
{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px;
    margin: 13px 0px 0px 0px;
    list-style-type: none;
}

#owner_selection_list:empty
{
    margin: 0px;
}

#owner_selection_list li
{
    padding: 5px;
    height: 30px;
}

#owner_selection_list li:first-child
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#owner_selection_list li:last-child
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#owner_selection_list li:hover
{
    background-color: #beb7b7;
}

#owner_selection_list li .owner-small-profile-image
{
    float: left;
    width: 30px;
    height: inherit;
    border-radius: 50%;
}

#owner_selection_list li .owner-small-profile-name
{
    float : right;
    margin-right: 25px;
    font-family: 'Nanum Gothic';
    height: inherit;
    font-size: 13px;
    line-height: 30px;
    color: #696060;
}

.timeslot_add_minutesecond {
    display: inline-block;
    margin-top: -10px;
}

.timeslot_add_ampm {
    display: inline-block;
    padding-top: 3px;
    width: 43px;
    height: 22px;
    border: 0px;
    margin-left: 15px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Nanum Gothic';
    color: #beb7b7;
    background-color: white;
    cursor: pointer;
    position: relative;
    background: #fff;
    top: 12px;
}

.timeslot_add_ampm input[type=checkbox] {
    visibility: hidden;
}

.timeslot_add_ampm label {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 20px;
    left: 2px;
    top: 2px;
    border-radius: 2px;
}

.am_container label:after {
    content: '오전';
}

.pm_container label:after {
    content: '오후';
}

.timeslot_add_ampm label:after {
    position: absolute;
    width: 40px;
    height: 20px;
    background: transparent;
    top: 1px;
    left: 0px;
}

.timeslot_add_ampm input[type=checkbox]:checked + label:after {
    color: #5d5454;
}

