body
{
    background: #ffffff;
}

#article_head_container
{
    min-height: 132px; /* 172-32-50 */
    padding-top: 40px;
    text-align: center;
    border-top: 2px solid #f6f0ee;
    border-bottom: 2px solid #f6f0ee;
}

#article_title
{
    font-family: 'Nanum Barun Gothic';
    font-size: 49px;
    height: 57px;
    color: #5c514e;
    margin-bottom: 10px;
}

#article_subtitle
{
    font-family: 'Nanum Barun Gothic';
    font-size: 21px;
    height: 24px;
    color: #6a6a6a;
}

#article_body_container
{
    padding-top: 36px;
    width: 960px;
    margin: auto;
}

#article_main
{
    float: left;
    width: 600px;
    /* XXX */
    margin-bottom: 40px;
}

#article_sub
{
    float: right;
    width: 300px;
}

#article_image img
{
    width: 600px;
}

#article_content
{
    font-family: 'Nanum Gothic';
    font-size: 16px;
    color: #5c514e;
    border-bottom: 2px solid #f2f2f2;
    margin-top : 30px;
    margin-bottom: 30px;
    line-height: 25px;
    -webkit-text-size-adjust: none;
}

#article_content p
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#article_content p span.content-bold
{
    font-weight: bold;
}

/*
 * 댓글
 */

#qanda_head_container
{
    font-family: 'Nanum Barun Gothic';
    font-size: 21px;
    color: #5c514e;
    padding-top: 20px;
}

.question-textbox
{
    position: relative;
}

.question-write
{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
    overflow: hidden;
}

textarea.question-box
{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    font-weight: 300;
    color: #696060;
    width: 468px;
    height: 70px;
    border: 0px;
    border-radius: 7px;
    padding: 14px;
    background-color: #f6f0ee;
    resize: none;
    margin-bottom: 19px;
}

.arrow-left
{
    width: 0; 
    height: 0; 
    position: absolute;
    left: -16px;
    top: 25px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right:16px solid #f6f0ee; 
    z-index: -1;
}

button.question-button
{
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
    border-radius: 7px;
    height: 42px;
    width: 135px;
    background-color: #f0795b;
    color: #ffffff;
    float: right;
    border: 0px;
}

.question-box-container
{
    width: 500px;
    float: right;
}

.question
{
    padding-top: 20px;
    border-bottom: 2px solid #f2f2f2;
    overflow: hidden;
}

.question-profile-image-container
{
    float: left;
    width: 80px;
}

.question-profile-image
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.question-content-container
{
    float: right;
    width: 520px;
}

.question-meta
{
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.question-profile-name
{
    font-family: 'Nanum Gothic';
    font-size: 19px;
    font-weight: bold;
    color: #696060;
    margin-right: 10px
}

.question-time
{
    font-family: 'Nanum Gothic';
    font-size: 13px;
    color: #beb7b7;
}

.question-content
{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    color: #696060;
    padding-bottom: 20px;
}

.answer-profile-image-container
{
    float: left;
    width: 45px;
}

.answer-profile-image
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.answer
{
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border-top: 2px solid #f2f2f2;
}

.answer-content-container
{
    float: right;
    width: 470px;
}

.answer-meta
{
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}


.answer-profile-name
{
    font-family: 'Nanum Gothic';
    font-size: 19px;
    font-weight: bold;
    color: #696060;
    margin-right: 10px;
}

.answer-time
{
    font-family: 'Nanum Gothic';
    font-size: 13px;
    color: #beb7b7;
}

.answer-content
{
    font-family: 'Nanum Gothic';
    font-size: 17px;
    color: #696060;
}

/*
 *
 */

#article_sub_content, #article_sub_share
{
    border-bottom: 2px solid #f6f0ee;
}

.sub-container
{
    margin-bottom: 25px;
}

.sub-head
{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    color: #5d5454;
    margin-bottom: 10px;
}

.sub-content
{
    font-family: 'Nanum Barun Gothic';
    font-size: 25px;
    color: #443333;
    padding-top: 5px;
    padding-bottom: 5px;
}

#timeslot_container table
{
    border: 0;
    white-space: nowrap;
}

#timeslot_container table td
{
    padding: 0px 0px 10px 0px;
}

#timeslot_container table tr:last-child td
{
    padding: 0px;
}

button.timeslot-label
{
    pointer-events: none;
    font-size: 13px;
    font-family: 'Nanum Gothic';
    position: relative;
    border-radius: 7px;
    top: -2px;
    padding: 7px 9px;
    vertical-align: middle;
    background-color: #f0795b;
    margin-left: 20px;
    color: #ffffff;
    border: 0px;
}

#host_head_container
{
    height: 40px;
    padding-bottom: 10px;
}

#host_image
{
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#host_name
{
    font-family: 'Nanum Barun Gothic';
    font-size: 25px;
    color: #443333;
    float: left;
    height: 40px;
    line-height: 40px;
}

#host_content
{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    color: #443333;
}

#notice_content
{
    font-family: 'Nanum Gothic';
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #f0795b;
}

/*
 * SNS, Participate
 */

#article_sub_share ul
{
    list-style-type: none;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 86px;
}

#article_sub_share li
{
    float: left;
    margin-left: 20px;
}

#article_sub_share li:first-child
{
    margin-left: 0px;
}

#article_sub_share li div.share
{
    width: 86px;
    height: 86px;
    line-height: 86px;
    text-align: center;
    font-family: 'Nanum Barun Gothic';
    font-size: 21px;
    color: #ffffff;
}


#article_sub_share li#participate div.share
{
    background-color: #f0795b;
    border-radius: 50%;
}

#article_sub_share li#facebook
{
    background-color: #6184d4;
    border-radius: 50%;
    background-image: url('images/facebook_logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

#article_sub_share li#twitter
{
    background-color: #31d0fd;
    border-radius: 50%;
    background-image: url('images/twitter_logo.png');
    background-repeat: no-repeat;
    background-position: center;
}


#article_sub_participants ul
{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

#article_sub_participants ul li
{
    height: 48px;
    margin-bottom: 16px;
    float: left;
}

#article_sub_participants ul li img.participant-profile-image
{
    width: 48px;
    height: inherit;
    border-radius: 50%;
    margin-right: 25px;
    float: inherit;
}

#article_sub_participants ul li div.participant-profile-text
{
    font-family: 'Nanum Gothic';
    font-size: 17px;
    height: inherit;
    line-height: 48px;
    color: #696060;
    float: inherit;
}
