body
{
    background: #ffffff;
}

#article_head_container
{
    min-height: 132px; /* 172-32-50 */
    padding-top: 40px;
    text-align: center;
    border-top: 2px solid #f6f0ee;
    border-bottom: 2px solid #f6f0ee;
}

#article_title
{
    font-family: 'Nanum Barun Gothic';
    font-size: 49px;
    margin-bottom: 10px;
    color: #5c514e;
}

.nosubtitle#article_title
{
    margin-top: 20px;
}

#article_subtitle
{
    font-family: 'Nanum Barun Gothic';
    font-size: 21px;
    height: 24px;
    color: #6a6a6a;
}

#article_body_container
{
    padding-top: 36px;
    width: 960px;
    margin: auto;
}

#article_main
{
    float: left;
    width: 600px;
    /* XXX */
    margin-bottom: 40px;
}

#article_sub
{
    float: right;
    width: 300px;
}

#article_image
{
    height: 386px;
    display: table-cell;
    vertical-align: middle;
    width: 600px;
    text-align: center;
}

#article_image img
{
    max-width: 600px;
}

#article_content
{
    font-family: 'Nanum Gothic';
    font-size: 16px;
    color: #5c514e;
    border-bottom: 2px solid #f2f2f2;
    margin-top : 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    line-height: 25px;
    -webkit-text-size-adjust: none;
}

#article_content p
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#article_content a
{
    text-decoration: underline;
}

#article_content iframe
{
    width: 600px;
    height: 365.6px;
}

/*
 * 댓글
 */

#qanda_head_container
{
    font-family: 'Nanum Barun Gothic';
    font-size: 21px;
    color: #5c514e;
}

.question-textbox
{
    position: relative;
}

.question-write
{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
    overflow: hidden;
}

textarea.question-box
{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    color: #696060;
    width: 468px;
    height: 70px;
    border: 0px;
    border-radius: 7px;
    padding: 14px;
    background-color: #f6f0ee;
    resize: none;
    margin-bottom: 19px;
}

.arrow-left
{
    width: 0; 
    height: 0; 
    position: absolute;
    left: -16px;
    top: 25px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right:16px solid #f6f0ee; 
    z-index: -1;
}

span#add_question_notice
{
    line-height: 42px;
    float: right;
    font-size: 15px;
    font-family: 'Nanum Gothic';
    color: #f0795b;
    margin-right: 15px;
}

button#add_question_button
{
    font-size: 17px;
    height: 42px;
    width: 135px;
    float: right;
    cursor: pointer;
}

.question-box-container
{
    width: 500px;
    float: right;
}

.question
{
    padding-top: 20px;
    border-bottom: 2px solid #f2f2f2;
    overflow: hidden;
}

.question-profile-image-container
{
    float: left;
    border-radius: 50%;
}

.question-content-container
{
    float: right;
    width: 520px;
}

.question-meta
{
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.question-profile-name
{
    font-family: 'Nanum Gothic';
    font-size: 19px;
    font-weight: bold;
    color: #696060;
    margin-right: 10px
}

.question-time
{
    font-family: 'Nanum Gothic';
    font-size: 13px;
    color: #beb7b7;
}

.question-delete
{
    float: right;
    padding-top: 5px;
    font-weight: bold;
    cursor: pointer;
}

.question-delete:after
{
    content : url('images/remove_icon.png');
}

.question-content-wrapper
{
    position: relative;
    display: inline-block;
}

.question-content
{
    float: left;
    width: 430px;
    font-family: 'Nanum Gothic';
    font-size: 15px;
    color: #696060;
    padding-bottom: 15px;
}

.deleted
{
    color: #cccccc;
}

.answer-popup
{
    position: absolute;
    padding-bottom: 10px;
    height: 30px;
    right: -21%;
    bottom: 0%;
}

.answer-popup-button
{
    float: right;
    padding: 0;
    width: 80px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
}

.answer-profile-image-container
{
    float: left;
    width: 40px;
    height: 40px;
    margin: 0px 2.5px;
    border-radius: 50%;
}

.answer
{
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border-top: 2px solid #f2f2f2;
}

.answer-content-container
{
    float: right;
    width: 470px;
}

.answer-meta
{
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.answer-profile-name
{
    font-family: 'Nanum Gothic';
    font-size: 19px;
    font-weight: bold;
    color: #696060;
    margin-right: 10px;
}

.answer-time
{
    font-family: 'Nanum Gothic';
    font-size: 13px;
    color: #beb7b7;
}

.answer-delete
{
    float: right;
    padding-top: 5px;
    font-weight: bold;
    cursor: pointer;
}

.answer-delete:after
{
    content : url('images/remove_icon.png');
}

.answer-content
{
    display: inline-block;
    width: 470px;
    font-family: 'Nanum Gothic';
    font-size: 17px;
    color: #696060;
    word-wrap: break-word;
}

.answer-write
{
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border-top: 2px solid #f2f2f2;
}

.answer-box-container
{
    float: right;
    width: 470px;
}

textarea.answer-box
{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    color: #696060;
    width: 448px;
    height: 70px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: #f6f0ee;
    resize: none;
    margin-bottom: 10px;
}

button#add_answer_button
{
    padding: 0;
    font-size: 12px;
    height: 30px;
    width: 80px;
    float: right;
    cursor: pointer;
}

span#add_answer_notice
{
    line-height: 30px;
    float: right;
    font-size: 13px;
    font-family: 'Nanum Gothic';
    color: #f0795b;
    margin-right: 10px;
}

/*
 *
 */

#article_sub_content, #article_sub_share
{
    border-bottom: 2px solid #f6f0ee;
}

.sub-container
{
    margin-bottom: 16px;
}

.sub-head
{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    color: #5d5454;
    margin-bottom: 5px;
}

.sub-content
{
    font-family: 'Nanum Barun Gothic';
    font-size: 25px;
    color: #443333;
    padding: 5px 0px 5px 10px;
}

#timeslot_container table
{
    border: 0;
    white-space: nowrap;
    border-spacing: 0px;
}

#timeslot_container table td
{
    padding: 0px 0px 7px 0px;
}

#timeslot_container table tr:last-child td
{
    padding-bottom: 0px;
}

button.timeslot-label
{
    pointer-events: none;
    position: relative;
    top: -3px;
    padding: 7px 9px;
    margin-left: 20px;
}

button.timeslot-label.is-main
{
    background-color: #f15050;
}

#host_head_container
{
    height: 40px;
    padding-bottom: 10px;
}

#host_image_container
{
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

#location_container .sub-content span
{
    white-space: nowrap;
}

#host_name
{
    font-family: 'Nanum Barun Gothic';
    font-size: 25px;
    color: #443333;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
}

#host_content
{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    color: #443333;
    white-space: pre-line;
}

#notice_content
{
    font-family: 'Nanum Gothic';
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #f0795b;
    white-space: pre-line;
}

#owner_button_container
{
    margin: 20px 0px 20px 0px;
    padding-top: 20px;
    border-top: 2px solid #f6f0ee;
}

#article_edit_button
{
    width: 135px;
    height: 70px;
    cursor: pointer;
    float: right;
}

#article_delete_button
{
    width: 135px;
    height: 70px;
    color: #f0795b;
    background-color: transparent;
    transition: all 0.5s;
    border: solid 2px transparent;
    cursor: pointer;
}

#article_delete_button:hover
{
    color: #f15050;
    border-color: #f15050;
}

/*
 * SNS, Participate
 */

#article_sub_share ul
{
    list-style-type: none;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 86px;
}

#article_sub_share li
{
    float: left;
    margin-left: 20px;
}

#article_sub_share li:first-child
{
    margin-left: 0px;
}

#article_sub_share li div.share
{
    width: 86px;
    height: 86px;
    line-height: 86px;
    text-align: center;
    font-family: 'Nanum Barun Gothic';
    font-size: 21px;
    color: #ffffff;
    cursor: pointer;
}


#article_sub_share li#participate div.share
{
    background-color: #f0795b;
    border-radius: 50%;
}

#article_sub_share li#participate span
{
    position: relative;
    top: 1px;
}

#article_sub_share li#facebook
{
    background-color: #6184d4;
    border-radius: 50%;
    background-image: url('images/facebook_logo.png');
    background-repeat: no-repeat;
    background-position: calc(50% - 0.5px) 50%;
}

#article_sub_share li#twitter
{
    background-color: #31d0fd;
    border-radius: 50%;
    background-image: url('images/twitter_logo.png');
    background-repeat: no-repeat;
    background-position: calc(50% + 2px) calc(50% + 2px);
}


#article_sub_participants ul
{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

#article_sub_participants ul li
{
    height: 48px;
    margin-bottom: 16px;
    float: left;
    white-space: nowrap;
}

#article_sub_participants ul li div.participant-profile-image
{
    border-radius: 50%;
    margin-right: 25px;
    float: inherit;
}

#article_sub_participants ul li span.participant-profile-text
{
    font-family: 'Nanum Gothic';
    font-size: 17px;
    line-height: 48px;
    color: #696060;
}

.timeslot-time {
    font-size: 20px;
}
