ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
}

#category_container
{
    margin-top: 18px;
}

#category_list
{
    margin: 0 auto;
    width: 984px;
    height: 210px;
}

#category_list button
{
    float: left;
    width: 220px;
    height: 78px;
    margin: 25px 12px 0px 12px;
	padding: 0;
    line-height: 80px;
    border: 1px solid #b7b3b3;
    border-radius: 10px;
    text-align: center;
    color: #9c8d8a;
    font-family: 'Nanum Barun Gothic';
    font-size: 21px;
    background-color: #fffbfa;
	cursor: pointer;
}

#category_list button:hover
{
    color: #faf3f2;
    background-color: #f0795b;
}

#main_list_container
{
    width: 960px;
    margin: 0 auto;
}

#main_list_title
{
    padding: 70px 0;
    text-align: center;
    color: #7f6965;
    font-family: 'Nanum Barun Gothic';
    font-size: 29px;
}

/* 임시 */

#main_list /* 메인 목록 */
{
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#main_list .elem /* 메인 목록에 뜨는 행사 */
{
    margin-bottom: 54px;
    width: 222px;
    height: 373px;
    background: #ffffff;
    overflow: hidden;
}

#main_list .elem_wide /* 두 칸 짜리 행사 */
{
    width: 468px;
}

#main_list .elem img
{
    height: 315px;
}

#main_list .elem .dday
{
    float: right;
    position: relative;
    top: -7.2%;
    padding-top: 14px;
    width: 50px;
    height: 36px;
    color: #ffffff;
    font-family: 'Nanum Gothic';
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    border-radius: 25px;
    background: #888888;
}

#main_list .elem .dday_near
{}

#main_list .elem .dday_today
{}

#main_list .elem .dday_past
{}

#main_list .elem dl
{
    margin: 0;
}

#main_list .elem dt
{
    font-family: 'Nanum Gothic';
    font-size: 11px;
}

#main_list .elem dd
{
    margin: 0;
    font-family: 'Nanum Gothic';
    font-size: 13px;
}

/* 카테고리명 */
#main_list .elem dt.elem_title
{
    float: left;
}

/* 행사 이름 */
#main_list .elem dd.elem_title
{
    float: left;
}

#main_list .elem dt.elem_time
{
    float: right;
}

#main_list .elem dd.elem_time
{
    float: right;
}
