ol
{
    margin: 0;
    padding: 0;
}

#main_head_container
{
    height: 522px;
    background: #888888;
}

#main_list_container
{
    width: 960px;
    margin: 0 auto;
}

#main_list_title
{
    padding: 70px 0;
    text-align: center;
    color: #675d5a;
    font-family: 'Nanum Barun Gothic';
    font-size: 31px;
}

.event_elem
{
    list-style: none;
    margin-bottom: 108px;
}

.event_container
{
    width: 960px;
    height: 300px;
    background: #ffffff;
}

.poster
{
    float: left;
    height: inherit;
}

.poster img
{
    height: inherit;
}

.event_info
{
    float: left;
    padding-left: 45px;
    padding-right: 55px;
    height: inherit;
}

.info
{
    margin-top: 30px;
}

.info_title
{
    margin-bottom: 10px;
    color: #9f9390;
    font-family: 'Nanum Gothic';
    font-size: 18px;
}

.info_content
{
    color: #675d5a;
    font-family: 'Nanum Barun Gothic';
    font-size: 24px;
}

.event_desc
{
    height: 240px;
    line-height: 30px;
    padding: 25px 45px 35px 0px;
    color: #8d8582;
    font-family: 'Nanum Gothic';
    font-size: 17px;
}

.event_desc pre
{
    height: 240px;
    margin: 0;
    font-family: 'Nanum Gothic';
    word-wrap: break-word;
    overflow: hidden;
}

.d_day
{
    float: right;
    position: relative;
    top: -116.6666666667%;
    right: -5.2083333333%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #ffffff;
    font-family: 'Nanum Barun Gothic';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background-color: #f0795b
}
