@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css);
@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

body
{
    margin: 0;
    background: #f6f0ee;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}

button
{
    font-size: 13px;
    font-family: 'Nanum Gothic';
    font-weight: 500;
    border-radius: 7px;
    background-color: #f0795b;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border: 0px;
}

.button-large
{
    font-size: 27px;
    padding: 20px 30px 20px 30px;
    font-family: 'Nanum Barun Gothic';
}

.button-small
{
    padding: 7px 9px 7px 9px;
    font-family: 'Nanum Gothic';
}

#head_container
{
    background: #ffffff;
}

#head_bar
{
    width: 960px;
    margin: 0 auto;
    height: 80px;
}

#head_bar div
{
    line-height: 80px;
}

#home
{
    width:245px;
    float: left;
    font-family: 'Nanum Barun Gothic';
    font-size: 24px;
}

.menu span
{
    font-family: 'Nanum Gothic';
    font-size: 19px;
    font-weight: 700;
    color: #9d9796;
}

.menu_left
{
    float: left;
    margin-right: 70px;
}

.menu_right
{
    float: right;
}

.profile_img
{
    margin: 20px 15px 20px 0px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    background-color: #000000;
}
