@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

body
{
    margin: 0;
    background: #f6f0ee;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}

#head_container
{
    background: #ffffff;
}

#head_bar
{
    max-width: 960px;
    margin: 0 auto;
    height: 80px;
}

#head_bar div
{
    line-height: 80px;
}

#home
{
    width:245px;
    float: left;
    font-family: 'Nanum Barun Gothic';
    font-size: 24px;
}

.menu span
{
    font-family: 'Nanum Gothic';
    font-size: 19px;
    font-weight: 700;
    color: #9d9796;
}

.menu_left
{
    float: left;
    margin-right: 70px;
}

.menu_right
{
    float: right;
}

.profile_img
{
    margin: 20px 15px 20px 0px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    background-color: #000000;
}
