{% extends "layout.html" %}

{% block css %}
		<link rel="stylesheet" href="/static/css/account.css">
{% endblock %}

{% block content %}
        <div id="account_head_container">
			<div id="edit_profile_img_container">
				<div id="edit_profile_image"
					class="profile-image vhmiddle vhmiddle-update" data-width="100" data-height="100">
					<img src="{{ user.profile.profile_image.url }}"></img>
				</div>
				<div id="edit_profile_image_hover" onclick="getElementById('profile_image_input').click();">
					<span>사진 변경</span>
				</div>
			</div>
			<input id="profile_image_input" name="image" type="file"
				style="opacity:0; position: absolute; top: 0px; left: 0px; width: 0px; height: 0px;">
			<div id="account_name">{{ user.first_name }}의 페이지</div>
		</div>
		<div id="account_content_container">
			<div id="content_left">
				<div><a href="#">메세지</a></div>
				<div><a href="#">참여하는 행사</a></div>
				<div><a href="/account/articles/">관리하는 행사</a></div>
				<div><a href="/account/">계정 설정</a></div>
				<div><a href="#">프로필 설정</a></div>
			</div>
			<div id="content_right">
{% block account_content %}
{% endblock %}
			</div>
		</div>
{% endblock %}

{% block aftercontent %}
<script src="{{ STATIC_URL }}js/account-edit.js"></script>
{% endblock %}
