{% extends "account/layout.html" %}

{% block account_content %}
				<div class="account_setting" id="change_passwd">
					<div class="account_setting_left">
						<label>비밀번호 변경</label>
					</div>
					<div class="account_setting_right">
						<input type="password">
						</input>
						<input type="password">
						</input>
					</div>
					<div class="account_setting_button">
						<button>변경하기</button>
					</div>
				</div>
				<div class="account_setting" id="facebook_account">
					<div class="account_setting_left">
						<label>페이스북</label>
					</div>
					<div class="account_setting_right">
						<input>
						</input>
					</div>
					<div class="account_setting_button">
						<button>계정 연동 취소하기</button>
					</div>
				</div>
{% endblock %}
{% block aftercontent %}
<script src="{{ STATIC_URL }}js/account-edit.js"></script>
<script src="{{ STATIC_URL }}js/account-main.js"></script>
{% if from_activate %}
<script>
$(document).ready(function(){
	$.notify('계정이 활성화되었습니다!!!', 'success');
	});
</script>
{% endif %}
{% endblock %}
